<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="theme-color" content="{{ site.theme_color }}" />

<title>{{ site.name }}</title>

<!-- App Manifest -->
{# <link rel="manifest" href="{{ '/manifest.webmanifest' | url(pathPrefix) }}"> #}

<!-- Google fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap" rel="stylesheet">

<!-- Font Awesome 6 -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer"/>

<!-- Main app css -->
<link rel="stylesheet" href="{{ '/assets/css/app.css' | url(pathPrefix) }}">

<!-- Main app js -->
<script defer src="{{ '/assets/js/app.js' | url(pathPrefix) }}"></script>